<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.woyun.anov.sdk.mgt.mapper.SysUserMapper">

    <select id="findByAccount" resultType="cn.woyun.anov.sdk.mgt.entity.SysUser">
        SELECT * FROM `sys_user` WHERE `user_account` = #{account}
    </select>

    <select id="listByAccount" resultType="cn.woyun.anov.sdk.mgt.entity.SysUser">
        SELECT * FROM `sys_user` WHERE `user_account` = #{account}
    </select>

    <select id="listByEmail" resultType="cn.woyun.anov.sdk.mgt.entity.SysUser">
        SELECT * FROM `sys_user` WHERE `user_email` = #{email}
    </select>

    <select id="listByPhone" resultType="cn.woyun.anov.sdk.mgt.entity.SysUser">
        SELECT * FROM `sys_user` WHERE `user_phone` = #{phone}
    </select>

</mapper>
